[Unit]
Description=dnsmasq - A lightweight DHCP and caching DNS server
Documentation=man:dnsmasq(8)
After=network.target
Before=network-online.target nss-lookup.target
Wants=nss-lookup.target

[Service]
Type=forking
PIDFile=/var/run/dnsmasq.pid
ExecStart=/usr/sbin/dnsmasq -k --log-facility=-
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
