[Unit]
Description=Start btattach, needed to enable Bluetooth for some UART-based Bluetooth chipsets

[Service]
Type=simple
ExecStartPre=/bin/sleep 1s
ExecStart=/usr/bin/btattach --bredr /dev/ttyS0 -P bcm

[Install]
WantedBy=multi-user.target
