[submodule "elm327-exporter"]
	path = elm327-exporter
	url = https://github.com/hugglesfox/elm327-exporter.git
[submodule "dht11-exporter"]
	path = dht11-exporter
	url = https://github.com/hugglesfox/dht11-exporter.git
